<header>
    <title>Speak to navigate</title>
{{!-- <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script src="commands.js"></script>
<script>
  
</script>
<script>
 
if (annyang) {

 var commands = {
    'go (to) *tag': navigateTo,
    'show (me) *tag': navigateTo,
    'navigate (to) *tag': navigateTo,
    'take me to *tag': navigateTo,
    'back': navigateBack,
    'forward': navigateForward,
  } 
  
  // Add our commands to annyang
  annyang.addCommands(commands);

  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.start();
}

</script> --}}
</header>